<div>
  <article>
    <header>
      <picture>
        <source srcset="img/hero-image-1.webp" type="image/webp" />
        <img src="img/hero-image-1.jpg" alt="Hero Image 1" />
      </picture>
    </header>
    <p>
      <span> Pre-order</span>
    </p>
    <footer>
      <a href="">
        <div>
          <h3>Audio Console</h3>
          <div>
            <span>$499</span>
          </div>
        </div>
        <p>Ideal for music and audio Adaptable to any workflow</p>
      </a>
    </footer>
  </article>
</div>
