---
import Layout from "../layouts/Layout.astro";

import Cover from "../components/Cover.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Section from "../components/Section.astro";
import ConsoleItem from "../components/console/ConsoleItem.astro";
import ConsoleSection from "../components/console/ConsoleSection.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main>
    <Section>
      <Cover
        coverImage="/images/cover.jpg"
        title="A CONSOLE FOR EVERY WORKFLOW"
        description="Discover the perfect console for yours"
      />
    </Section>

    <ConsoleSection>
      <ConsoleItem />
    </ConsoleSection>

    <Section>
      <Cover
        coverImage="/images/cover.jpg"
        title="CREATE YOUR OWN CONSOLE"
        description="Add-on to make it perfect"
      />
    </Section>

    <ConsoleSection>
      <ConsoleItem />
    </ConsoleSection>
  </main>
  <Footer />
</Layout>

<style></style>
