<footer>
  <div>
    <div>
      <h4>Subscribe to monogram</h4>
      <p>
        Mater productivity with Creative Console and get all the latest Monogram
        news.
      </p>
    </div>

    <div>
      <form action="">
        <input type="text" placeholder="Email address" />
        <button type="submit">Submit</button>
      </form>
    </div>

    <div>
      <div>
        <a href="#">
          <img src="img/facebook.svg" alt="Facebook" />
        </a>
        <a href="#">
          <img src="img/twitter.svg" alt="Twitter" />
        </a>
        <a href="#">
          <img src="img/instagram.svg" alt="Instagram" />
        </a>
        <a href="#">
          <img src="img/youtube.svg" alt="Youtube" />
        </a>
      </div>
    </div>

    <div>
      <div>
        <h4>Monogram</h4>
        <p>305 King St. West, Suite 502 Kitchener, ON Canada</p>
      </div>
      <div>
        <h4>Quik links</h4>
        <p>305 King St. West, Suite 502 Kitchener, ON Canada</p>
      </div>
      <div>
        <h4>Help</h4>
        <p>305 King St. West, Suite 502 Kitchener, ON Canada</p>
      </div>
      <div>
        <h4>Information</h4>
        <p>305 King St. West, Suite 502 Kitchener, ON Canada</p>
      </div>
    </div>

    <div>
      <p>© 2024 Monogram. All rights reserved.</p>
    </div>
  </div>
</footer>
